@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($val, 5);
      @include sm {
        background-color: map-get($colors, "primary");
      }
      @include md {
        background-color: map-get($colors, "secondary");
      }
      @include lg {
        background-color: map-get($colors, "info");
      }
      @include xl {
        background-color: map-get($colors, "error");
      }
    }
  }
  .btn-outlined-#{key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
  .btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}
