@import "../../styles";
.appLogo {
  display: flex;
  justify-content: center;
  background-color: $dark-blue;
  border-bottom: 1px solid $light-dark-blue;
  padding: $base-padding;
  figcaption {
    display: flex;
    img {
      max-width: 40px;
      max-height: 40px;
    }
    caption {
      font-size: $base-font-size;
      margin-left: $base-margin;
      align-self: center;
      color: $white;
    }
  }
}
