@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-dark-blue: #131d35;
  --dark-blue: #0f172a;
  --grey: #9da2af;
  --body-bg: #f5f8fa;
}

.th {
  @apply text-[color:var(--grey)] font-semibold text-sm p-3 text-left;
}
.td {
  @apply text-[color:var(--light-dark-blue)] font-semibold text-sm p-3 text-left;
}
.button {
  @apply flex border rounded border-solid border-[color:var(--grey)] p-2 w-fit h-fit
}
